<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js"></script>
<meta charset="utf-8">

<title>Ator</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Cinema WEB</h1>
			<h3 style="color: darkgreen">Atores - PÁGINA PARA O
				GERENCIAMENTO DOS ATORES DE FILMES</h3>
		</div>
	</div>

	<br>
	<br>
	<br>
	<div class="container">
		<div class="row  col-lg-12">

			<fieldset>
				<legend>MENU</legend>

				<div class="form-group col-md-4">
					<form class="col-sm-12 col-lg-12">
						<fieldset>
							<div class="container ">
								<div class="row center col-lg-12">
									<a href="/" class="btn btn-success btn-lg col-lg-4">HOME</a>
								</div>
								<label>Clique no botão para retornar ao MENU principal.</label>
							</div>
						</fieldset>
						<!-- col-sm-12 -->
					</form>
				</div>
			</fieldset>

			<!-- col-sm-12 -->
			<hr></hr>
		</div>
		<!-- row -->

		<div class="row">
			<form action="/ator/salvar" th:object="${ator}" method="POST"
				class="col-sm-12 col-lg-12">
				<br> <br> <br> <br> <br> <br>
				<div class="row">

					<fieldset>

						<legend>Preencha os dados pedidos</legend>
						<div class="form-group col-md-4">
							<label for="ator">Nome do Ator</label> <input type="text"
								placeholder="Nome do Ator" class="form-control" id="nome"
								name="nome" autofocus />
						</div>
						
						<div class="form-group col-md-4">
							<label for="ator">Sobre o Ator</label> <input type="text"
								placeholder="Sobre o Ator" class="form-control" id="sobre"
								name="sobre" autofocus />
						</div>

						<div class="form-group col-md-4">
							<button type="submit" name="action"
								class="btn btn-success btn-lg btn-block">Adicionar
								Ator</button>
						</div>
					</fieldset>
					<!-- col-sm-12 -->
				</div>
				<!-- row -->
			</form>
		</div>
		<!-- row SALVAR SESSOES-->
		<hr>
		<div class="row">
			<div id="tabela">
				<h3>Atores cadastrados</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Sobre</th>
							<th>Atualizar</th>
							<th>Excluir</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="ator : ${atores}">
							<td th:text="${ator.id}"></td>
							<td th:text="${ator.nome}"></td>
							<td th:text="${ator.sobre}"></td>
							<td><a class="btn btn-primary"
								th:href="@{/ator/atualizar/{id}(id = ${ator.id})}">Atualizar
							</a></td>
							<td><a class="btn btn-sm  btn-danger"
								th:href="@{/ator/excluir/{id}(id=${ator.id})}">X</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- row -->

	</div>
	<!-- container MOSTRAR SESSOES-->

<script language="JavaScript">
	$("#nome").keyup(function() {
		var valor = $("#nome").val().replace(/[^a-zA-Z ]+/g,'');
		$("#nome").val(valor);
	});
 </script>	

</body>
</html>