<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js"></script>

<meta charset="utf-8">

<title>Cinema</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Cinema WEB</h1>
			<h3 style="color: darkgreen">Cinemas - PÁGINA PARA O
				GERENCIAMENTO DAS CINEMAS DO CINEMA</h3>
		</div>
	</div>

	<br>
	<br>
	<br>
	<div class="container">
		<div class="row  col-lg-12">

			<fieldset>
				<legend>MENU</legend>

				<div class="form-group col-md-4">
					<form class="col-sm-12 col-lg-12">
						<fieldset>
							<div class="container ">
								<div class="row center col-lg-12">
									<a href="/" class="btn btn-success btn-lg col-lg-4">HOME</a>
								</div>
								<label>Clique no botão para retornar ao MENU principal.</label>
							</div>
						</fieldset>
						<!-- col-sm-12 -->
					</form>
				</div>
			</fieldset>

			<!-- col-sm-12 -->
			<hr></hr>
		</div>
		<!-- row -->

		<div class="row">
			<form action="/cinema/salvar" th:object="${cinema}" method="POST"
				class="col-sm-12 col-lg-12">
				<br> <br> <br> <br> <br> <br>
				<div class="row">

					<fieldset>

						<legend>Preencha os dados pedidos</legend>
						<div class="form-group col-md-4">
							<label for="cinema">Nome do Cinema</label> <input type="text"
								placeholder="Nome do cinema" class="form-control" id="nome"
								name="nome" autofocus />
						</div>

						<div class="form-group col-md-4">
							<label for="cinema">Endereço do Cinema</label>
							<textarea class="form-control" name="endereco" rows="4" cols="50"></textarea>
						</div>
						
						<div class="form-group col-md-4">
							<label for="cinema">Cidade do Cinema</label> <input type="text"
								placeholder="Cidade do cinema" class="form-control" id="cidade"
								name="cidade"/>
						</div>

						<div class="form-group col-md-4">
							<button type="submit" name="action"
								class="btn btn-success btn-lg btn-block">Adicionar
								Cinema</button>
						</div>
					</fieldset>
					<!-- col-sm-12 -->
				</div>
				<!-- row -->
			</form>
		</div>
		<!-- row SALVAR SESSOES-->
		<hr>
		<div class="row">
			<div id="tabela">
				<h3>Cinemas cadastrados</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Endereco</th>
							<th>Cidade</th>
							<th>Detalhes</th>
							<th>Atualizar</th>
							<th>Excluir</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="cinema : ${cinemas}">
							<td th:text="${cinema.id}"></td>
							<td th:text="${cinema.nome}"></td>
							<td th:text="${cinema.endereco}"></td>
							<td th:text="${cinema.cidade}"></td>
							<td><a class="btn btn-success" role="button"
								th:href="@{${'/cinema/'+cinema.id}}">Ver detalhes</a></td>
							<td><a class="btn btn-primary"
								th:href="@{/cinema/atualizar/{id}(id = ${cinema.id})}">Atualizar
							</a></td>
							<td><a class="btn btn-sm  btn-danger"
								th:href="@{/cinema/excluir/{id}(id = ${cinema.id})}">X</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- row -->

	</div>
	<!-- container MOSTRAR SESSOES-->
	
<script language="JavaScript">
	$("#cidade").keyup(function() {
		var valor = $("#cidade").val().replace(/[^a-zA-Z ]+/g,'');
		$("#cidade").val(valor);
	});
	$("#nome").keyup(function() {
		var valor = $("#nome").val().replace(/[^a-zA-Z ]+/g,'');
		$("#nome").val(valor);
	});
 </script>	
</body>
</html>
