<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Formulario</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js"></script>


</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>Cinema WEB</h1>
			<h3 style="color: darkgreen">Filme - PÁGINA PARA A ATUALIAÇÃO
				DOS FILMES DO CINEMA</h3>
		</div>
	</div>

	<form method="POST" action="/filme/salvar" th:object="${filme}"
		class="col-lg-6">
		<input type="hidden" th:field="*{id}">

		<div class="form-group">
			<label class="h1" for="filme">Nome Filme</label> <input type="text"
				class="form-control" id="nome" th:field="*{nome}"
				placeholder="Digite o novo nome" autofocus>
		</div>

		<div class="form-group">
			<label class="h1" for="filme">Sinopse Filme</label> <input
				type="text" class="form-control" id="sinopse" th:field="*{sinopse}"
				placeholder="Digite a nova sinopse">
		</div>

		<div class="form-group">
			<label for="filme">Duração do Filme</label> <input type="number"
				placeholder="Duração do filme" class="form-control" id="duracao"
				th:field="*{duracao}"/>
		</div>

		<button type="submit" class="btn btn-lg btn-primary">Enviar</button>
	</form>


	<script src="/js/bootstrap.min.js"></script>
	<script language="JavaScript">
	$("#nome").keyup(function() {
		var valor = $("#nome").val().replace(/[^a-zA-Z 0-9]/g, '');
		$("#nome").val(valor);
	});
 </script>	
</body>
</html>