<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

	<head>
		<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	    <title>FutManager</title>
	</head>

	<body>
		
		<div class="container">
			<div class = "row valign-wrapper">
				<div class = "col s6">
					<h3>Gerenciar Jogadores</h3>
				</div>
				<!-- col s6 -->
				<div class = "col s6">
					<a href= "/times/" class = "valign btn-large waves-effect waves-light teal right">
					Gerenciar Times</a>				
				</div>
			</div>
			<!-- row valign-wrapper -->
			
			<div class = "row card-panel grey lighten-2 black-text ">
				<form action="/jogadores/salvar" method="POST">
					<div class = "input-field col s4">
						<input placeholder="Nome do Jogador" id="nome" name="nomeJogador" type="text" class="validate"/>
						<label for="nome" class = "black-text text-darken-2">Nome do jogador</label>
					</div>
					<!-- input-field col s4 -->
					<div class = "input-field col s4">
						<input placeholder="Idade do Jogador" id="idade" name="idadeJogador" type="number" class="validate"/>
						<label for="idade" class = "black-text text-darken-2">Idade do jogador</label>
					</div>
					<!-- input-field col s4 -->
					<div class = "col s4">
						<button class="btn waves-effect waves-light" type="submit" name="action">Adicionar Jogador</button>
					</div>
				</form>
			</div>
			<!-- row -->
			
			<div class = "row">
				<h5>Jogadores Cadastrados</h5>
				<table class = "stripped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Time que pertence</th>
							<th>Excluir Time</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jogador : ${jogadores}">
							<td th:text="${jogador.nome}"></td>
							<td th:if="${jogador.time}" th:text="${jogador.time.nome}"></td>
							<td th:unless="${jogador.time}" >Sem time</td>
							
							<td><a class = "waves-effect waves-teal btn-flat" th:href="@{${'/jogadores/excluir/'+jogador.id}}">
							X</a></td>
						</tr>
						<tr>
							
					</tbody>
				</table>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
		
		<script src="/webjars/jquery/2.2.4/jquery.js"></script>
		<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
	</body>	

</html>