<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js"></script>

<meta charset="utf-8">

<title>Sessao</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Cinema WEB</h1>
			<h3 style="color: darkgreen">Sessões - PÁGINA PARA O
				GERENCIAMENTO DOS SESSÕES DO CINEMA</h3>
		</div>
	</div>

	<br>
	<br>
	<br>
	<div class="container">
		<div class="row  col-lg-12">

			<fieldset>
				<legend>MENU</legend>

				<div class="form-group col-md-4">
					<form class="col-sm-12 col-lg-12">
						<fieldset>
							<div class="container ">
								<div class="row center col-lg-12">
									<a href="/" class="btn btn-success btn-lg col-lg-4">HOME</a>
								</div>
								<label>Clique no botão para retornar ao MENU principal.</label>
							</div>
						</fieldset>
						<!-- col-sm-12 -->
					</form>
				</div>
			</fieldset>

			<!-- col-sm-12 -->
			<hr></hr>
		</div>
		<!-- row -->

		<div class="row">
			<form action="/sessao/salvar" method="POST"
				class="col-sm-12 col-lg-12">
				<br> <br> <br> <br> <br> <br>
				<fieldset>
					<legend>Preencha os dados pedidos</legend>
					<div class="form-group col-md-4">
						<label for="sessao">Horário da Sessao</label> <input type="text"
							onkeypress="mascara(this, '##:##'); return Numero(event);" placeholder="Horário da sessao ex: 10:30" maxlength="5" class="form-control" id="horario"
							name="horario" autofocus />
					</div>

					<div class="form-group col-md-4">
						<label for="sessao">Data de início da Sessao</label>
						 <input	type="text" onkeypress="mascara(this, '##-##-####'); return Numero(event);" placeholder="Data início da sessao ex: 22-22-2022" maxlength="10"
							class="form-control" id="dataIni" name="dataInicio" autofocus />
					</div>

					<div class="form-group col-md-4">
						<label for="sessao">Data de fim da Sessao</label> <input
							type="text" onkeypress="mascara(this, '##-##-####'); return Numero(event);" placeholder="Data final da sessao ex: 22-22-2022" maxlength="10" class="form-control"
							id="dataFim" name="dataFim" autofocus />
					</div>
					<div class="form-group col-md-4">
						<button type="submit" name="action"
							class="btn btn-success btn-lg btn-block">Adicionar
							Sessão</button>
					</div>
				</fieldset>
			</form>
		</div>
		<!-- row -->
		<br> <br>
		<div class="row">
			<div id="tabela">

				<h3>Filmes cadastrados</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Horario</th>
							<th>Data Inicio</th>
							<th>Data Fim</th>
							<th>Detalhes</th>
							<th>Atualizar</th>
							<th>Excluir</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="sessao : ${sessoes}">
							<td th:text="${sessao.id}"></td>
							<td th:text="${sessao.horario}"></td>
							<td th:text="${sessao.dataInicio}"></td>
							<td th:text="${sessao.dataFim}"></td>
							<td><a class="btn btn-success" role="button"
								th:href="@{${'/sessao/'+sessao.id}}">Ver detalhes</a></td>
							<td><a class="btn btn-primary"
								th:href="@{/sessao/atualizar/{id}(id = ${sessao.id})}">Atualizar
							</a></td>
							<td><a class="btn btn-sm  btn-danger"
								th:href="@{/sessao/excluir/{id}(id = ${sessao.id})}">X</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- row -->

		<div class="row">
			<div id="tabela">

				<h3>Buscar Sessões</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Buscar por Gênero</th>
							<th>Buscar por Filme</th>
							<th>Buscar por Data</th>
							<th>Buscar por Cidade</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								<form action="/sessao/porGenero" method="POST"
									class="col-sm-12 col-lg-12">
									<label for="sessao">Buscar por Gênero</label> <input
										type="text" class="form-control" id="genero" name="genero"
										autofocus />

									<button type="submit" name="action"
										class="btn btn-success btn-lg btn-block">Buscar
										Gênero</button>
								</form>

							</td>
							<td><form action="/sessao/porData" method="POST"
									class="col-sm-12 col-lg-12">
									<label for="sessao">Buscar por Data</label> <input
										type="text" class="form-control" id="dataInicio" name="dataInicio" onkeypress="mascara(this, '##-##-####'); return Numero(event);" placeholder="Data final ex: 10-205-2018" maxlength="10"
										autofocus />
										<input type="text" class="form-control" id="dataFim" name="dataFim" onkeypress="mascara(this, '##-##-####'); return Numero(event);" placeholder="Data final ex: 10-205-2018" maxlength="10"
										/>

									<button type="submit" name="action"
										class="btn btn-success btn-lg btn-block">Buscar
										Data</button>
								</form></td>
							<td>

								<form action="/sessao/porCidade" method="POST"
									class="col-sm-12 col-lg-12">
									<label for="sessao">Buscar por Cidade</label> <input
										type="text" class="form-control" id="cidade" name="cidade"
										autofocus />

									<button type="submit" name="action"
										class="btn btn-success btn-lg btn-block">Buscar
										Cidade</button>
								</form>
							</td>
							<td>
								<form action="/sessao/porFilme" method="POST"
									class="col-sm-12 col-lg-12">
									<label for="sessao">Buscar por Filme</label> <input
										type="text" class="form-control" id="filme" name="filme"
										autofocus />

									<button type="submit" name="action"	class="btn btn-success btn-lg btn-block">Buscar
										Filme</button>
								</form>
							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- row -->

		<!-- col-sm-12 -->
	</div>
	<!-- container -->
	<hr>
	<!-- container MOSTRAR SESSOES-->
	
<script language="JavaScript">
	
	$("#genero").keyup(function() {
		var valor = $("#genero").val().replace(/[^a-zA-Z ]+/g,'');
		$("#genero").val(valor);
	});
	$("#cidade").keyup(function() {
		var valor = $("#cidade").val().replace(/[^a-zA-Z ]+/g,'');
		$("#cidade").val(valor);
	});
	$("#filme").keyup(function() {
		var valor = $("#filme").val().replace(/[^a-zA-Z ]+/g,'');
		$("#filme").val(valor);
	});

	function mascara(t, mask){
		 var i = t.value.length;
		 var saida = mask.substring(1,0);
		 var texto = mask.substring(i)
		 

		 if (texto.substring(0,1) != saida){
		 	t.value += texto.substring(0,1);
		 }
	}

	function Numero(e){
		navegador = /msie/i.test(navigator.userAgent);
		if(navegador){
			var tecla = event.keyCode;
		}else{
			var tecla = e.which;
		}

		if(tecla > 47 && tecla < 58){
			return true;
		}else{
			if(tecla != 8){
				return false;
			}else{
				return true;
			}
		}
	}

 </script>	
</body>
</html>
