<!DOCTYPE html>
<html 
	lang="ptBR"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<aside class="left-sidebar" th:fragment="sidebar">
   <!-- Sidebar scroll-->
   <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
         <ul id="sidebarnav">
            <li>
               <a class="waves-effect waves-dark" th:href="@{/ofertas}"><i class="fa fa-graduation-cap"></i><span class="hide-menu">Ofertas dos Cursos</span></a>
            </li>
            <li>
               <a class="waves-effect waves-dark" th:href="@{/oferta-campus}" aria-expanded="false"><i class="fa fa-graduation-cap"></i><span class="hide-menu">Ofertas do Campus</span></a>
            </li>
            <li>
               <a class="waves-effect waves-dark" th:href="@{/empilhamentos}" aria-expanded="false"><i class="fa fa-bars"></i><span class="hide-menu">Empilhamentos</span></a>
            </li>
            <li>
               <a class="waves-effect waves-dark" th:href="@{/periodos}" aria-expanded="false"><i class="fa fa-calendar"></i><span class="hide-menu">Períodos</span></a>
            </li>
            <li>
               <a class="waves-effect waves-dark" th:href="@{/disciplinas}" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Disciplinas</span></a>
            </li>
            <li>
               <a sec:authorize="hasAnyAuthority('DIRECAO')" class="waves-effect waves-dark" th:href="@{/professores}" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Professores</span></a>
            </li>
            <li>
               <a sec:authorize="hasAnyAuthority('DIRECAO')" class="waves-effect waves-dark" th:href="@{/exportacao}" aria-expanded="false"><i class="fa fa-external-link"></i><span class="hide-menu">Exportação</span></a>
            </li>
            <li>
               <a sec:authorize="hasAnyAuthority('DIRECAO')" class="waves-effect waves-dark" th:href="@{/configuracao}" aria-expanded="false"><i class="fa fa-cogs"></i><span class="hide-menu">Configurações</span></a>
            </li>

         </ul>
      </nav>
   </div>
</aside>
</html>
